.scopedClassName {
    color: blue;
    font-family: arial;
}

.home table {
    margin: 20px auto;
}

.home textarea {
    display: block;
    margin: 20px auto;
    height: 150px;
    width: 200px;
}

.home table td {
    width: 20px;
    height: 22px;
}

.tableAndButton {
    text-align: center;
}

.coordinates {
    margin: 10px auto;
}

.home button {
    margin-bottom: 10px;
}